
<ActionBar>
    <label text="Animales" ></label>
</ActionBar>

<stackLayout>
    <Image src="https://i.pinimg.com/originals/d8/e8/e8/d8e8e855aab9295697dfa8b32f164aa8.jpg"></Image>
    <button text="Volver" class="-primary" (tap)="onBack()"></button>
</stackLayout>
